@{
    ViewBag.Title = "About";
}

<style>
    body{
        background-color: gainsboro;
    }
</style>
<body>
<div class="container">
    <div id="who">
        <div class="text-capitalize text-center text-success">
            <h1>
                Hi There!
            </h1>

            <p>
                This is TeenCode, and we love to teach<br />
                people how to program!
            </p>
        </div>
    </div>

    <div id="what" style="width:100%; padding-top:50px;">
        <h1 class="modal-content text-center text-muted">-Mission Statement-</h1>
        <div class="text-center" style="padding-bottom:50px;">
            <h2 class="text-info">
                To teach anyone of any age who would like to learn programming<br />
                how to program.
            </h2>
       </div>
            <h1 class="modal-content text-center text-muted">
                -How We Teach-
            </h1>

        <style>
            p{
                padding:5px;
            }
        </style>

            <div class="row" style="padding-top:50px;">

                <p class="col-sm-4 panel panel-info">
                    We do not focus on one single language or development tool, 
                    instead we try to use a variety of topics and teach the concepts,
                    and on the way we teach how to use different tools to apply the
                    concepts that we teach. 
                </p>

                <p class="col-sm-4 panel panel-info">
                    Among the languages/tools we teach are C# using Visual Studio 2015,
                    MIT App Inventor 2 for basic android application development, as
                    well as Unity for game development which uses C# as a language for the game
                    engine.
                </p>

                <p class="col-sm-4 panel panel-info" >
                    We teach through a YouTube channel, and we use screen capturing to 
                    walk you through a program while doing it in front of you, and 
                    explaining different aspects of it such as what is happening on 
                    screen and why the program works/doesn't work.
                </p>
            </div>
        </div>
    </div>
</body>