@{
    ViewBag.Title = "Home - TeenCode";
}

@using TeenCodeWebsite.Models

<style>
    .row{
        padding-top: 50px;
    }

    h1{
        padding-bottom: 40px;
    }

    
</style>

<link rel="stylesheet" href="~/Content/animate.css" />

<body style="padding-top:100px;" onload="animate()">
    <div class="container">

        <div class="row col-sm-12">
            <div  class="jumbotron text-center animated fadeInLeft" >
                        <h1> Welcome to TeenCode!</h1><br />
                    <p id="welcome">
                        TeenCode is a YouTube channel which aims to help people who are new to programming to<br />
                        start learning how to code easily through video tutorials.<br />
                    </p>
            </div>
        </div>


        <style>



            @@media screen and (max-width: 1000px) {
                iframe {
                    width:540px;
                    height: 480px;
                }
            }


            @@media screen and (max-width: 600px) {
                iframe {
                    width:300px;
                    height: 300px;
                }
            }

            @@media screen and (max-width: 400px) {
                iframe {
                    width:250px;
                    height: 250px;
                }
            }

            @@media screen and (max-width: 300px) {
                iframe {
                    width:190px;
                    height: 190px;
                }

                h1{
                    font-size: 35px;
                }
            }

        </style>


        <div class="row">
               <div style="padding-top:80px;" id="video" class="col-xs-12 text-center">
                   <iframe width="854" height="480"  src="https://www.youtube.com/embed/r9mXywh_Tiw" frameborder="0" allowfullscreen></iframe>
               </div>
           </div>
           
         <div class="row" style="padding-top:10px;">
             <div style="text-align:center" id="cta" class="col-md-12">
                 <h1>Start Learning Now!</h1>
                 <button class="btn btn-primary btn-lg">
                    <a href="https://www.youtube.com/channel/UCY8oaqFgQnr7WkDe1n8n2DA">Take Me There
                     </a>
                 </button>
             </div>
         </div>
        
        <div class="row">
            <div class="col-xs-12" style="padding-top: 10px;">
                <div class="col-md-5 col-xs-12 text-center" style="padding: 5px;">
                    <a href="http://www.facebook.com/TeenCodeTube">
                        <img width="64px" height="64px" src="~/Content/facebook-logo.png" />
                    </a>
                </div>

                <div class="col-md-2 col-xs-12 text-center" style="padding: 5px;">
                    <a href="http://www.twitter.com/TeenCodeDev">
                        <img width="64px" height="64px" src="~/Content/twitter-logo.png" />
                    </a>
                </div>

                <div class="col-md-5 col-xs-12 text-center" style="padding: 5px;">
                    <a href="http://www.linkedin.com/in/katada-freije">
                        <img width="64px" height="64px" src="~/Content/linkedin-logo.png" />
                    </a>
                </div>
             </div>
        </div>

    </div>
</body>