@{
    ViewBag.Title = "Sent";
}


<style>

    h1, h4{
        padding: 20px;
    }

    .row{
        padding-top: 50px;
    }
</style>


<h1 class="text-center">
    Thank You For Contacting Us!
</h1>

<h4 class="text-center">
    Your message has been sent. We will respond to you soon.
</h4>


<div class="row text-center">
    <a href="~/Views/Home/Index.cshtml" >
        <input type="button" class="btn btn-success" value="Back to Home Page"/>
    </a>

    <a href="~/Views/Home/Contact.cshtml" >
        <input type="button" class="btn btn-success" value="Back to Contact Page" />
    </a>
</div>


